<div class="row" style="height:95vh">
  <div class="col-lg-8" style="overflow: auto;height:80%" id="style-2" >
    <table
      class="table table-hover table-borderless"
      style="border-block-end-color: #4F0713;"
    >
      <thead style="background-color:#4F0713;color:#e8a44f">
        <tr>
          <th>Device ID</th>
          <th>Bus Number</th>
          <th>Code</th>
          <th>Route</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2</td>
          <td>7526</td>
          
          <td>MDK1</td>
          <td>Madipakkam</td>
        </tr>
        <tr>
          <td>3</td>
          <td>4537</td>
          
          <td>POR</td>
          <td>Porur</td>
        </tr>
        <tr>
          <td>4</td>
          <td>4618</td>
          
          <td>WMB</td>
          <td>West Mambalam</td>
        </tr>
        <tr>
          <td>5</td>
          <td>0351</td>
          
          <td>PVK</td>
          <td>Purasavakkam</td>
        </tr>
        <tr>
          <td>6</td>
          <td>2367</td>
          
          <td>CGP</td>
          <td>Chengalpet</td>
        </tr>
        <tr>
          <td>7</td>
          <td>3954</td>
          
          <td>MGP</td>
          <td>Mugappair</td>
        </tr>
        <tr>
          <td>11</td>
          <td>7463</td>
          
          <td>TBM2</td>
          <td>Tambaram</td>
        </tr>
        <tr>
          <td>13</td>
          <td>4471</td>
          
          <td>ECR</td>
          <td>ECR</td>
        </tr>
        <tr>
          <td>15</td>
          <td>9094</td>
          
          <td>PYN</td>
          <td>Periyar Nagar</td>
        </tr>
        <tr>
          <td>16</td>
          <td>1573</td>
          
          <td>KDB</td>
          <td>Kodambakkam</td>
        </tr>
        <tr>
          <td>17</td>
          <td>9063</td>
          
          <td>TVT</td>
          <td>Thiruvottiyur</td>
        </tr>
        <tr>
          <td>18</td>
          <td>6784</td>
          
          <td>AVD</td>
          <td>Avadi</td>
        </tr>
        <tr>
          <td>19</td>
          <td>1524</td>
          
          <td>Adm</td>
          <td>ADMIN</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-4" id="style-2" style="overflow: auto;height:80%">
    <nav class="navbar navbar-expand">
      <div style="margin-left: 45%;">STOPS</div>
    </nav>
  </div>
</div>
