<div class="row" style="height:95vh">
  <div class="col-lg-8" style="overflow: auto;height:80%" id="style-2" >
    <table
      class="table table-hover table-borderless table-sm"
      style="border-block-end-color: #4F0713;"
    >
      <thead style="background-color:#4F0713;color:#e8a44f">
        <tr>
          <th>Device ID</th>
          <th>Bus Number</th>
          <th>Code</th>
          <th>Route</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bus of buses" (click)="changeCurrent(bus.route_name,bus.route_id)">
          <td>{{bus.device_id}}</td>
          <td>{{bus.bus_no}}</td>
          <td>{{bus.route_id}}</td>
          <td>{{bus.route_name}}</td>
        </tr>
       
      </tbody>
    </table>
  </div>
  <div class="col-lg-4" >
    <nav class="navbar navbar-expand">
      <div style="margin-left: 30%;">STOPS : {{currentBus}}</div>
    </nav>
   
      <div class="list-group" id="style-2" style="overflow: auto;height:75%">
        <a class="list-group-item" *ngFor="let stop of stops">
        {{stop.name}}
        </a>
     
    </div>
  </div>
</div>
