<div class="row" style="height:95vh">
  <div class="col-lg-3">
    <nav class="navbar navbar-expand">
      <div class="title1"><h4>CURRENT BUS ROUTES</h4></div>
    </nav>
    <div id="style-2" style="overflow: auto;height:70%">
      <table
        class="table table-hover table-borderless"
        style="border-block-end-color: #4F0713;"
      >
        <thead style="background-color:#4F0713;color:#e8a44f">
          <tr>
            <th>Bus Number</th>
            <th>Route</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bus of buses">
            <td>{{ bus.bus_no }}</td>
            <td>{{ bus.route_name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-9">
      <mat-tab-group [disableRipple]="true">
          <mat-tab label="Assign Bus to Route"> Content 1 </mat-tab>
          <mat-tab label="Assign Route to Bus"> Content 2 </mat-tab>
        </mat-tab-group>
  </div>
</div>
