#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 6px;
	background-color: #e8a44f;
}

#style-2::-webkit-scrollbar
{
	width: 8px;
	background-color: #e8a44f;
}
#style-2::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #4F0713;
}
mat-chip{
	background-color: #4F0713;
	color: #e8a44f
}
.mat-chip.mat-standard-chip {
    background-color: #4F0713;
    color: #e8a44f;
}
.list-group-item{
	background-color: #e8a44f;
	color: #4F0713
}
.list-group-item:hover{
	background-color:rgba(0,0,0,.1);
	
}
agm-map {
	height: 400px;
  }

a{
	cursor: pointer;
}