<div class="change-route-container">
  <div class="row no-gutters">
    <div class="col-5">
      <div style="padding: 50px">
        <form [formGroup]="swapRouteForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="bus_no">Bus</label>
            <select
              class="form-control"
              formControlName="bus_no"
              style="width:300px"
              [ngClass]="{ 'is-invalid': submitted && f.bus_no.errors }"
              (change)="onChange('bus')"
            >
              <option disabled selected value="">Please select a Bus</option>
              <option *ngFor="let bus of buses"
                >{{ bus.bus_no }}</option
              >
            </select>
            <div *ngIf="submitted && f.bus_no.errors" class="invalid-feedback">
              <div *ngIf="f.bus_no.errors.required">Bus Number is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="route_name">Route Name</label>
            <select
              class="form-control"
              formControlName="route_name"
              style="width:300px"
              [ngClass]="{ 'is-invalid': submitted && f.route_name.errors }"
              (change)="onChange('route')"
            >
              <option disabled selected value="">Please select a Route</option>
              <option *ngFor="let bus of buses">{{ bus.route_name }}</option>
            </select>
            <div
              *ngIf="submitted && f.route_name.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.route_name.errors.required">
                Route Name is required
              </div>
            </div>
          </div>

          <button
            type="submit"
            [disabled]="!swapRouteForm.valid"
            class="btn btn-primary-light"
          >
            Update
          </button>
        </form>
      </div>
    </div>

    <div class="col-1" *ngIf="swapRouteForm.valid" style="padding-top: 120px;padding-left: 20px">
      <mat-icon style="color:#e8a44f;height:50px;width:50px;font-size: 50px ">swap_horiz</mat-icon>
    </div>

    <div class="col-5" *ngIf="swapRouteForm.valid">
        <div style="padding: 50px">
            <form [formGroup]="swapForm">
              <div class="form-group">
                <label for="bus_no">Bus</label>
                <input class="form-control" disabled  formControlName="bus_no">
              </div>
              <div class="form-group">
                  <label for="route_name">Route Name</label>
                  <input class="form-control" disabled  formControlName="route_name">
                </div>
            </form>
          </div>
    </div>
  </div>
</div>
