<!--<nav class="navbar navbar-expand" *ngIf="currentUser==null"><h1>KCG TRACK</h1></nav>-->
<!--nav bar-->
<!--<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
<div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3"></div>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>    
-->
        <nav class="navbar navbar-expand"  >

  <div class="navbar-nav" style="margin-top:0%;margin-bottom:0%">
      <button class="btn btn-primary-light nav-item nav-link" routerLink="/">Home</button>
      <button class="btn btn-primary-light nav-item nav-link" routerLink="/buses">Buses</button>
      <button class="btn btn-primary-light nav-item nav-link" routerLink="/change_route">Change Route</button>
    </div>
    <div><button class="btn btn-primary-light nav-item nav-link" style="align-content: flex-end" (click)="logout()">Logout</button>
    </div>
</nav>

<!--container-->
<div class="jumbotron" style="margin-bottom:0%;padding-top: 0.5%">
  <router-outlet></router-outlet>
</div>

<!--infobar-->
<nav class="navbar navbar-expand" style="height:70px;color:#e8a44f" >

        <div class="navbar-nav" style="width:83%">
        KCG TRACK
        </div>
        <div>KCG College Of Technology</div>
      </nav>